* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

body {
    background-color: #e7ce98eb;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../images/palm.JPG");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    font-family: "Gill Sans", sans-serif;
    border: solid rgba(193, 169, 119, 0.716) 2px;

}

nav {
    height: 40px;
    padding: 10px;

}

.nav-links {
    display: flex;
    align-content: space-around;

}

.nav-links a {
    color: rgb(92, 74, 32);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    padding: 30px 10px;

}

.nav-links {
    list-style: none;


}

.nav ul li {
    color: rgb(92, 74, 32);
    text-align: center;
    float: left;


}

.nav-links li:hover:not(.active) {
    background-color: blanchedalmond;
}

.nav-links li a:hover:not(.active) {
    background-color: blanchedalmond;
}

.name {
    color: rgb(92, 74, 32);
    display: flex;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: -3px -3px black;
    line-height: 120px;
    padding: 10px;
    letter-spacing: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.header-image {
    padding: 5px;
    background-origin: content-box;

}

.main-text {
    display: block;
    align-self: center;
}

.content {
    width: 75%;
    margin-left: 0;
    display: flex;
    align-self: center;
    background-color: olive;
    border: solid rgb(92, 74, 32) 3px;
    box-sizing: border-box;
}

.content div {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;

}

section img {
    max-height: 200px;
    padding: 20px
}

.content div h2 {
    text-align: center;
    padding: 5px;

}

.float-left {
    float: left;
    margin-right: 25px
}

main {
    width: 100%;
    display: flex;
    background-color: white;
    height: 800px;
}

section {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column
}

#about {
    width: 100%;
    background-color: olive;
    height: 30%;
    display: flex;
    align-items: center;
    border: solid rgb(92, 74, 32) 3px;
}

#about-text {
    color: #e7ce98eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center
}

#works {
    width: 100%;
    height: 70%;
    background-color:  rgb(96, 103, 17);

    display: flex;
    flex-direction: column;
    background-size: cover;
}

#big {
    height: 40%;
    width: 100%;
    background-color: rgb(96, 103, 17);
    border: solid rgb(92, 74, 32);
    color: #e7ce98eb;
    display: flex;
    justify-content: center;
    background-image: url(../images/moneytree.JPG);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

#small {
    height: 30%;
    width: 100%;
    display: flex;
}

.small-img1 {
    width: 50%;
    height: 100%;
    color: #e7ce98eb;
    border: solid rgb(92, 74, 32);
    background-color: rgb(72, 78, 13);
    display: flex;
    justify-content: center;
    background-image: url(../images/peacelily.JPG);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.small-img1 h3, .small-img2 h3, #big h3  {
    background-color:  rgb(92, 74, 32);
    height: 30px;
    padding: 2px;
    font-size: 22px;
}

.small-img2 {
    width: 50%;
    height: 100%;
    color: #e7ce98eb;
    border: solid rgb(92, 74, 32);
    background-color: rgb(72, 78, 13);
    display: flex;
    justify-content: center;
    background-image: url(../images/aloe.JPG);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

aside {
    background-color: rgb(92, 74, 32);
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #e7ce98eb;
    text-align: center;

}

a{
    color:  #e7ce98eb;
    text-decoration: underline;

}
footer{
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p{
    text-align: center;
    font-size: 10px;

}

@media screen and (max-width: 600px) {

    main,
    #small {
        flex-direction: column
    }

    section,
    #small,
    aside {
        width: 100%;
    }

    aside {
        height: 150px;
    }

}